html,body{
    margin: 0 ;
    height:100%;
    width:100%;
    padding:0;

}
section {
    display: block;
    height:100%;
    width:100%;
    padding: 100px;
    padding-left: 0px;
    padding-right:0px;
    box-sizing:border-box;
}

.page2{
    display:flex;
    margin-top:0px;
}

.card{
    display: flex;
    flex-wrap: wrap;
}
.allProducts{
    background-color: gray;
    display:flex;
    flex-direction: column;
    margin-top:2%;
    margin-left:2%;
    width:25em;
}

.imag{
    display: block;
    width:50%;
    height:50%;
    margin-left: auto;
    margin-right: auto;
}

.text{
    color:yellow;
    text-align: center;
}
.price{
    color:blue;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
    font-size: medium;
}
 
